.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.controls {
    position: fixed;
    top: 0;
    right: 0;
}