.root {
    a {
        margin-right: 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        display: inline-block;
    }
}