.root {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-radius: 4px;
    overflow: hidden;
  }
}

.item {
  padding: 3px;
  border-radius: 4px;
  user-select: none;
  box-sizing: border-box;
  transition: background-color .2s ease-in-out;

  border: 1.5px solid transparent;

  &[data-active=true] {
    background-color: var(--active-bg-color);
    color: var(--active-text-color);
  }

  &[data-menu-open=true] {
    border-color: var(--hover-bg-color);
  }
}