.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--status-bar-font-size);
    height: var(--status-bar-height);
    line-height: var(--status-bar-height);
    padding: 0 calc(var(--status-bar-font-size) / 2);
    border-top: 1px solid;

    :global {

        [class^="ant-col"],
        [class*=" ant-col"],
        .ant-btn.ant-btn-sm {
            font-size: var(--status-bar-font-size);
        }
    }
}

.left,
.right {
    display: flex;
    flex-direction: row;
    gap: 8px;
}