p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 1;
  vertical-align: middle;
  border: solid 1px grey;
  border-radius: 4px;
}

[data-tauri-drag-region],
:not(input, textarea, [contenteditable="true"], a, svg) {
  cursor: default !important;
  user-select: none;
}

.ant-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ant-btn.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-layout-header {
  position: relative;
  height: var(--top-bar-height) !important;
  line-height: var(--top-bar-height) !important;
  padding: 0 !important;
  text-align: center;
  z-index: 10000;
}

.ant-layout-sider {
  transition: none !important;
  height: 100%;

  * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

.ant-tree-indent-unit .ant-tree-indent-unit-start {
  width: 15px !important;
}

.ant-layout-footer {
  height: 28px;
  line-height: 28px;
  padding: 0 10px !important;
  border-top: 1px solid;
}

.editor-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.editor {
  flex: 1;
  width: 100%;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  resize: none;
  font-size: 16px;
  border: none;
  outline: none;
}

.note-info {
  line-height: 30px;
  height: 30px;
  padding-inline: 10px;
  opacity: .618;
  text-align: center;
}

.changelog-container {
  max-height: calc(100vh - 400px);
  overflow: auto;

  p {
    margin: 10px 0;
  }

  code {
    font-size: 85%;
    background-color: #88888833;
    padding: 2px;
    border-radius: 4px;
  }
}