@font-face {
  font-family: "iconfont"; /* Project id 3923761 */
  src: url('iconfont.eot?t=1688527707906'); /* IE9 */
  src: url('iconfont.eot?t=1688527707906#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1688527707906') format('woff2'),
       url('iconfont.woff?t=1688527707906') format('woff'),
       url('iconfont.ttf?t=1688527707906') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.linux:before {
  content: "\e697";
}

.macos:before {
  content: "\e60b";
}

.windows:before {
  content: "\ec2e";
}

.window-minimum:before {
  content: "\e617";
}

.sunglasses:before {
  content: "\ead0";
}

.window-max-s-o:before {
  content: "\e7c2";
}

.window-restore:before {
  content: "\e653";
}

.window_close:before {
  content: "\e610";
}

.moon:before {
  content: "\e7d3";
}

.sun:before {
  content: "\e8c9";
}

